* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #2193b0, #6dd5ed);
  font-family: 'Montserrat', sans-serif;
}

html {
  height: -webkit-fill-available;

}

.btn {
  padding: .5rem 1rem;
  border-radius: .7rem;
  cursor: pointer;
  width: 100%;
  border: 1px solid #2193b0;
  background-color: #155a6d;
  color: white;
}

.btn:hover {
  filter: brightness(.9);
}


.icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}